<div ng-controller="bouquetsCtrl">
	<p>hello</p>
	<ul>
		<div class="flip-container listFlip" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<li><img src="assets/redBou.jpg" alt="jerry" height="100px" width="100px"></li>
				</div>
			</div>
		</div>
		
		<div class="flip-container1 listFlip" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper1">
				<div class="front1">
					<li><img src="assets/pinkBou.jpg" alt="jerry" height="100px" width="100px"></li>
				</div>
			</div>
		</div>
		<div class="flip-container2 listFlip" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper2">
				<div class="front2">
					<li><img src="assets/yellowBou.jpg" alt="jerry" height="100px" width="100px"></li>
				</div>
			</div>
		</div>
		<div class="flip-container3 listFlip" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper3">
				<div class="front3">
					<li><img src="assets/violetBou.jpg" alt="jerry" height="100px" width="100px"></li>
				</div>
			</div>
		</div>
		<div class="flip-container4 listFlip" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper4">
				<div class="front4">
					<li><img src="assets/birthday.jpg" alt="jerry" height="100px" width="100px"></li>
				</div>
			</div>
		</div>
	</ul>

		
	<div class="back face center">
		<p>hai</p>
	</div>
</div>