<div>
	<h1><em>you can study something about these cartoon pictures</em></h1>
	<ul class="cartoon">
		<li><img src="assets/jerry.jpg" class="animation" alt="jerry" height="100px" width="100px"></li>
		<li><img src="assets/noddy.jpg" class="animation" alt="noddy" height="100px" width="100px"></li>
		<li><img src="assets/fish.jpg" class="animation" alt="fish" height="100px" width="100px"></li>
		<li><img src="assets/tweety.jpg" class="animation" alt="tweety" height="100px" width="100px"></li>
		<li><img src="assets/oswald.jpg" class="animation" alt="oswald" height="100px" width="100px"></li>
		<li><img src="assets/jerry.jpg" class="animation1" alt="jerry" height="100px" width="100px"></li>
		<li><img src="assets/noddy.jpg" class="animation1" alt="noddy" height="100px" width="100px"></li>
		<li><img src="assets/fish.jpg" class="animation1" alt="fish" height="100px" width="100px"></li>
		<li><img src="assets/tweety.jpg" class="animation1" alt="tweety" height="100px" width="100px"></li>
		<li><img src="assets/oswald.jpg" class="animation1" alt="oswald" height="100px" width="100px"></li>
	</ul>
</div>