<div class="row logoBar">

	<div class="col-md-4 logo img">
		<img src="Novocloud-logo.png" alt="Novocloud-logo" height="50px" width="114px">
	</div>
	<div class="col-md-8 searchButtonContainer ">
		<div class = "col-md-10">
			<div class="form-group pull-right searchBox">
					<input type="text" class="form-control" id="usr">
					<span class="glyphicon glyphicon-search searchGlyphicon "></span>
			</div>		
		</div>
		
		<div class = "col-md-2">
			<div class="pull-right">
				<span class="glyphicon glyphicon-option-vertical font pull-right verticalOption"></span>
			</div>
			<div class="userCircle"><span class="glyphicon glyphicon-user userGlyphicon font"></span>
			</div>
			
			</div>
				
	</div>		
</div>