<div class="row navBar">
	<nav class="navbar navbar-default">
		<div class="container-fluid navBarContainer">
			<div class="nav navbar-nav">
				<div class="navBarDisplay" >
					<span class="glyphicon glyphicon-align-justify menuDiv font"></span>
				</div>
				<div class="Farmer navBarDisplay"><b><h3 class="navBarDisplay">Farmer Dashboard</h3></b></div>
			</div>
			<ul class="nav navbar-nav navbar-right ">
				<li class="mapMarker"><span class="glyphicon glyphicon-map-marker mapColor font"></span></li>
				<li><span class="glyphicon glyphicon-th-large thLarge font"></span></li>
			</ul>
		</div>
	</nav>
</div>
