<div>
	<div class="row">
		<div class="container-fluid mapDetailsContainer">
			<div class="col-md-6">
				<div class="col-md-4">
					<img src="images 1.jpg" width="100%" height="100%">
				</div>
				<div class="col-md-4">
					<p><div><b>Ranch</b></div></p>
					<p><div><b>Acre</b></div></p>
					<p><div><b>Field</b></div></p>
					<p><div><b>Next Harvest Date</b></div></p>
				</div>
				<div class="col-md-4">
					<p><div><b>Organic 13</b></div></p>
					<p><div><b>25</b></div></p>
					<p><div><b>4</b></div></p>
					<p><div><b>23/06/16</b></div></p>
					
				</div>
				
			</div>
			<div class="col-md-3">
				<div><h3>Production</h3></div>
				<div>Actual/Targeted</div>
				<div><h1>52/60</h1></div>
				<div>
						<span class="glyphicon glyphicon-grain grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grain1 grainColor"></span>
						<span class="glyphicon glyphicon-grain grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grain1 grainColor"></span>
						<span class="glyphicon glyphicon-grain grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grain1 grainColor"></span>
						<span class="glyphicon glyphicon-grain grain"></span>
						<span class="glyphicon glyphicon-grain"></span>
						<span class="glyphicon glyphicon-grain grain1"></span>
						<span class="glyphicon glyphicon-grain grain"></span>
						<span class="glyphicon glyphicon-grain"></span>
						<span class="glyphicon glyphicon-grain grain1"></span>
					
				</div>
			</div>
			<div class="col-md-3">
				<div><h3>Current Water/Soil Moisture</h3></div>
				<div></div>
				<div><h1>56%</h1></div>
				<span class="glyphicon glyphicon-tint font1 tintColor"></span>
				<span class="glyphicon glyphicon-tint font1 tintColor"></span>
				<span class="glyphicon glyphicon-tint font1 tintColor"></span>
				<span class="glyphicon glyphicon-tint font1 tintColor"></span>
				<span class="glyphicon glyphicon-tint font1"></span>
				<span class="glyphicon glyphicon-tint font1"></span>
				<span class="glyphicon glyphicon-tint font1"></span>
			</div>
		</div>
		
	</div>
	<div class="container-fluid map">
		 <ng-map zoom="8" scrollwheel="false" center="[52, 0.2]"></ng-map>
</div>