<!-- this directive view 3 columns with certain data in it -->
<div>
	<div class="row">
		<div class="container-fluid mapDetailsContainer">
		<!-- this container contains static map image and related data of it -->
			<div class="col-md-6 col-xs-12">
				<div class="col-md-4 col-xs-12">
					<img src="images 1.jpg" width="100%" height="100%">
				</div>
				<div class="col-md-4 col-xs-8 position" ng-controller="showSelectedAreaDetails">
					<div ng-repeat="data in storeSelectedDetails.mapAreaDetails">
						<p><div><b class="font-size">{{data.ranch}}</b></div></p>
						<p><div><b class="font-size">{{data.acre}}</b></div></p>
						<p><div><b class="font-size">{{data.fields}}</b></div></p>
						<p><div><b class="font-size">{{data.nextHarvestDate}}</b></div></p>
					</div>
				</div>
				<div class="col-md-4 position">
					<p><div><b><h4>Organic 13</h4></b></div></p>
					<p><div><b><h4>25</h4></b></div></p>
					<p><div><b><h4>4</b></h4></div></p>
					<p><div><b><h4>23/06/16</h4></b></div></p>
					
				</div>
				
			</div>
			<!-- this container contains data according to crops and its related icons -->
			<div class="col-md-3 col-xs-6 center">
				<div>
					<h5>Production</h5>
				</div>
				<div>
					Actual/Targeted
				</div>
				<div>
					<h5>52/60</h5>
				</div>
				<div>
						<span class="glyphicon glyphicon-grain grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grain1 grainColor"></span>
						<span class="glyphicon glyphicon-grain grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grain1 grainColor"></span>
						<span class="glyphicon glyphicon-grain grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grainColor"></span>
						<span class="glyphicon glyphicon-grain grain1 grainColor"></span>
						<span class="glyphicon glyphicon-grain grain"></span>
						<span class="glyphicon glyphicon-grain"></span>
						<span class="glyphicon glyphicon-grain grain1"></span>
						<span class="glyphicon glyphicon-grain grain"></span>
						<span class="glyphicon glyphicon-grain"></span>
						<span class="glyphicon glyphicon-grain grain1"></span>
					
				</div>
			</div>
			<!-- below container contains requirements for that crop with related symbols -->
			<div class="col-md-3 col-xs-6 center">
				<div>
					<h5>Current Water/Soil Moisture</h5>
				</div>
				
				<div>
					<h5>56%</h5>
				</div>
				<span class="glyphicon glyphicon-tint font1 tintColor"></span>
				<span class="glyphicon glyphicon-tint font1 tintColor"></span>
				<span class="glyphicon glyphicon-tint font1 tintColor"></span>
				<span class="glyphicon glyphicon-tint font1 tintColor"></span>
				<span class="glyphicon glyphicon-tint font1"></span>
				<span class="glyphicon glyphicon-tint font1"></span>
				<span class="glyphicon glyphicon-tint font1"></span>
			</div>
		</div>
		
	</div>
	<!-- container views map which is integrated from google map -->
	<div class="container-fluid map">
		 <ng-map zoom="8" scrollwheel="false" center="[52, 0.2]"></ng-map>
	</div>
	
</div>