<nav>
	<div class=" navbar navbar-default remove">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li><strong><h1>w3schools<span class="com">.com</span></h1></strong></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><h5><b>T H E&nbsp;&nbsp;&nbsp;W O R L D' S&nbsp;&nbsp;&nbsp;L A R G E S T&nbsp;&nbsp;&nbsp;W E B&nbsp;&nbsp;&nbsp;D E V L O P E R&nbsp;&nbsp;&nbsp;S I T E</b></h5></li>
			</ul>
		</div>
	</div>
	<div class="navbar navbar-inverse remove">
	
		<div class="container-fluid">
			
			<ul class="nav navbar-nav nvabar-fixed-top">
				<li><span class="glyphicon glyphicon-home glyphiconHome"></span></li>
				<li class="li2">HTML</li>
				<li class="li2">CSS</li>
				<li class="li2">JAVASCRIPT</li>
				<li class="li2">SQL</li>
				<li class="li2">PHP</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="li2">REFERENCES<span class="glyphicon glyphicon-triangle-bottom"></span></li>
				<li class="li2">TUTORIALS<span class="glyphicon glyphicon-triangle-bottom"></span></li>
				<li class="li2"><span class="glyphicon glyphicon-search"></span></li>
				<li class="li2"><span class="glyphicon glyphicon-globe"></span></li>
			</ul>
		</div>
	</div>


</nav>