<div class="container-fluid containerClass">
	<div class="row">
		
		<ul class="scrollmenu col-md-2 sidebar ">
			<li>Bootstrap Tutorial</li>
			<li>BS HOME</li>
			<li>BS Get Started</li>
			<li>BS Typography</li>
			<li>BS Images</li>
			<li>BS Jumbotron</li>
			<li>BS Wells</li>
			<li>BS Alerts</li>
			<li>BS Buttons</li>
			<li>BS Button Groups</li>
			<li>BS Glyphicons</li>
			<li>BS Labels/Badges</li>
			<li>BS Progress Bars</li>
			<li>BS Pagination</li>
			<li>BS Pager</li>
			<li>BS List Groups</li>
			<li>BS Panels</li>
			<li>BS Dropdowns</li>
			<li>BS Collapse</li>
			<li>BS Tabs/Pills</li>
			<li>BS Navbar</li>
			<li>BS Forms</li>
			<li>BS Inputs</li>
			<li>BS Inputs 2</li>
			<li>BS Input Sizing</li>
			<li>BS Carousel</li>
			<li>BS Modal</li>
			<li>BS Tooltip</li>
			<li>BS Popover</li>
			<li>BS Scrollspy</li>
			<li>BS Affix</li>
		</ul>
		<div class="exceptSideBar col-md-10">
		<div class=" image col-md-9">
			<img src="../assets/w3Image.jpg" width="60%" height="10%" alt="w3 Schools">
			<h1><b><strong>BootStrap3 Tutorial</strong></b></h1>
			<div>
				<button class=" button buttonPrev"><span class="glyphicon glyphicon-chevron-left"></span><b>Home</b></button>
				<button class="button buttonNext"><b>Next</b><span class="glyphicon glyphicon-chevron-right"></span></button><br><br><br>
				<!--<div class="pannel-group">-->
				<div class="panel panel-success ">
					<div class="panel-body pannel panelSuccess"">
						<p class="col-md-12">Bootstrap is the most popular HTML, CSS, and JavaScript framework for developing responsive, mobile-first web sites.</p>
						<p class="col-md-12">Bootstrap is completely free to download and use!</p><br><br>&nbsp;
						<button class="col-md-7 btn btn-success btn-lg">Start Learning Bootstrap Now <span class="glyphicon glyphicon-chevron-right chevron"><span class="glyphicon glyphicon-chevron-right chevron"></span></span></button>

					</div>
				</div>
				<hr></hr>
				<div>
					<h1>Try it Yourself Examples</h1>
					<p>This Bootstrap tutorial contains hundreds of Bootstrap examples.</p>
					<p>With our online editor, you can edit the code, and click on a button to view the result.</p>
					<img src="../assets/w3Image2.jpg" width="100%" height="30%">
					<div class="panel panel-default">
						<div class="panel-heading">
							Bootstratp Example
						</div>
						<!-- <p>
							<div class="jumbotron text-center">
						  		h1>My First Bootstrap Page</h1>
						  		<p>Resize this responsive page to see the effect!</p> 
							</div>

							<div class="container">
							  	<div class="row">
								    <div class="col-sm-4">
								      <h3>Column 1</h3>
								      <p>Lorem ipsum dolor..</p>
								      <p>Ut enim ad..</p>
								    </div>
								    <div class="col-sm-4">
								      <h3>Column 2</h3>
								      <p>Lorem ipsum dolor..</p>
								      <p>Ut enim ad..</p>
								    </div>
								    <div class="col-sm-4">
								      <h3>Column 3</h3> 
								      <p>Lorem ipsum dolor..</p>
								      <p>Ut enim ad..</p>
								    </div>
							  </div>
							</div>
						</p> -->
						<div class="panel-footer">
							<button class="btn btn-success"><b><h5 class="tryButton h5">Try it Yourself&nbsp;&nbsp;<span class="glyphicon glyphicon-chevron-right chevron"></span><span class="glyphicon glyphicon-chevron-right chevron"></span></h5></b></button>
						</div>
							
					</div>
					<div class="panel panel-default">
						<div class="panel-body warningPanelBody"><h4>Click on the "Try it Yourself" button to see how it works.</h4></div>
					</div>
					<hr></hr>
					<div>
						<p><b><h5>Bootstrap Quiz Test</h5><b></p>
						<p>Test your Bootstrap skills at W3Schools!</p>
						<button class="btn btn-success">Start Bootstarp Quiz!</button>
						
					</div>
					<hr></hr>
				</div>
			</div>
			

		</div>
		<div class="col-md-3 lastDiv">
			<img src="../assets/w3Image1.jpg" width="100%" height="80%">
		</div>
		</div>
	</div>
</div>