<div class="tableHeader container removePadding">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr class="tr1">
                    <th></th>
                    <th>Frequency Type</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Total Cash With Tax</th>
                    <th>Actions</th>
                </tr>
            </thead>
        </table>
    </div>

</div>